<!--The content below is only a placeholder and can be replaced.-->
<form [formGroup]="form" novalidate>
  <div class="row">
    <div class="form-group col-md-6">
      <my-date-picker name="date" (dateChanged)="DateChanged($event)" formControlName="date"
        [options]="myDatePickerOptions"></my-date-picker>
    </div>

    <div class="form-group col-md-6">
      <h3>{{ formate || (dob |  date:'shortDate') }}</h3>
    </div>
  </div>
  <div class=row>
    <div class="form-group col-md-6">
      <my-date-picker name="date1" (dateChanged)="onDateChanged($event)" formControlName="date1"
        [options]="myDatePickerOptions1"></my-date-picker>
    </div>
    <div class="form-group col-md-6">
      <h3>{{ formate1 || (dob |  date:'shortDate') }}</h3>
    </div>
  </div>
  <div class=row>
    <div class="form-group col-md-4">
      <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" formControlName="range" required>
      </my-date-range-picker>
    </div>
  </div>
</form>

<router-outlet></router-outlet>
