<body>
  <header>
    <div class="navigation-bar">
      <ul>
        <li><a [routerLink]="[ '/addform' ]">Addform</a></li>
        <li><a href="[ '/' ]">Datepickers</a>
          <ul>
            <li><a [routerLink]="[ '/dp-parent' ]">Datepicker1</a></li>
            <li><a [routerLink]="[ '/emit' ]">Datepicker2</a></li>
            <li><a [routerLink]="[ '/dp' ]">DateRangePicker</a></li>
          </ul>
        </li>
        <li><a [routerLink]="[ '/login' ]">login</a>

        </li>
        <li><a [routerLink]="[ '/register' ]">Register</a>

        </li>
      </ul>

    </div>
  </header>
</body>
