.a {
    width: 600px;
    border:  solid rgb(5, 8, 5);
    padding: 10px;
    margin: auto;
    background-color: antiquewhite;
    
  }
  p{
      color: rgb(230, 12, 56);
  }
   td { 
    width:500px; 
    // solid black; 
    // padding:5px text-align:center; 
    // border:1px 
   }